@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Oswald:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('../src/assets/pexels-fbo-media-17641532.jpg'); /* Update the path accordingly */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px; /* Prevent image repetition */
}